<h2 class="title collapse_title">
	<a 
		data-target="#general-content" 
		data-toggle="collapse" 
		aria-expanded="true" 
		aria-controls="general-content"
		>
		<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
		<span class="icon status error" title="Ce bloc comporte une erreur">
			<svg><use href="/static/icons/endi.svg#exclamation-triangle"></use></svg>
		</span>
		<span class="icon status success" title="Ce bloc est valide">
			<svg><use href="/static/icons/endi.svg#check"></use></svg>
		</span>
		<span class="icon status neutral" title="Ces informations internes n’apparaissent pas dans le document final">
			<svg><use href="/static/icons/endi.svg#eye-slash"></use></svg>
		</span>
		Informations générales 
		<small>N’apparaissent pas dans le document final</small>
	</a>
</h2>
<div class="collapse_content">
	<div id="general-content" class='content collapse in' aria-expanded="true">
		<form class='form' name='common' action="#" onSubmit="return false;">
			<div class="layout flex two_cols">
				<div>
					<div>
						<div class='name'></div>
					</div>
					{{#if business_type}}
					<div>
						<div class="business_type">
							<div class='form-group'>
								<span class="label">Type d'affaire</span>
								<span class="data">{{business_type.label}}</span>
							</div>
						</div>
					</div>
					{{/if}}
					{{#if financial_year}}
					<div>
						<div class='financial_year'></div>
					</div>
					{{/if}}
				</div>
				<div class="status_history hidden-print in_form">
				</div>
			</div>
		</form>
		{{#if attachments}}
		<div class="separate_top collapsible content_vertical_padding">
			<h3 class="collapse_title">
				<a
					data-target='#files-more'
					data-toggle='collapse'
					aria-expanded="false"
					aria-controls="files-more"
					>
					<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
					Fichiers attachés
				</a>
			</h3>
			<div class="collapse_content content_vertical_padding">
				<div id="files-more" class='collapse' aria-expanded="false">
					<ul>
					{{#each attachments}}
						<li>
							<a href='/files/{{this.id}}' target='_blank' class="icon">
							<svg><use href="/static/icons/endi.svg#file-alt"></use></svg>
							{{this.label}}
							</a>
						</li>
					{{/each}}
					</ul>
				</div>
			</div>
		</div>
		{{/if}}
	</div>
</div>
