<section id="status_form" class="modal_view size_large">
    <form class='form' data-url='{{ url }}' method='POST'>
    	<div role="dialog" id="status-forms" aria-modal="true" aria-labelledby="status-forms_title">
        	<div class="modal_layout">
				<header {{#if has_error}}class='caution'{{/if}}>
					<button class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre" onclick="toggleModal('status_form'); return false;">
						<svg><use href="/static/icons/endi.svg#times"></use></svg>
					</button>
					<h2 id="status-forms_title">{{ title }}</h2>
				</header>
				<main>
                    {{#if help_text }}
                    <div class='alert alert-info'>{{ help_text }}</div>
                    {{/if}}
                    {{#if ask_for_date }}
                        <div class='form-group'>
                            <div class='alert alert-danger'><span class="icon"><svg><use href="/static/icons/endi.svg#danger"></use></svg></span> La date du document diffère de la date du jour</div>
                            <div class='radio'>
                            <label>
                                <input type="radio" name="change_date" value='1' checked> Mettre à la date d'aujourd'hui {{ today }}
                            </label>
                            </div>
                            <div class='radio'>
                            <label>
                                <input type="radio" name="change_date" value='0'> Conserver la date {{ date }}
                            </label>
                            </div>
                        </div>
                        <hr />
                    {{/if}}
                    {{#if has_file_warning}}
                    <div class='form-group'>
                        <table class='files'></table>
                        <div class='checkbox'>
                         <label>
                             <input type="checkbox" name="force_file_validation">&nbsp;Ignorer les fichiers manquants
                         </label>
                         </div>
                    </div>
                    {{/if}}
                    <div class='form-group'>
                        <label for='comment'>Commentaires</label>
                        <textarea class='form-control' name='comment' rows=4></textarea>
                    </div>
				</main>
				<footer>
					<button class='btn btn-primary' {{#if has_file_warning}}disabled aria-disabled='true'{{/if}} type='button' name='submit' value='{{status}}'>{{label}}</button>
					<button type="button" class='btn cancel'>Annuler</button>
				</footer>
    	    </div>
	    </div>
	</form>
</section>
