<div>
  <h2>{{ totalRecords }} produits <small>sur {{ totalPagesLabel }}</small></h2>
{{#if pagerElements }}
  <nav aria-label="Pagination">
    <ul>
{{/if }}
{{#if previousPage }}
      <li>
        <a class="btn" data-action="show_page" data-page="{{ previousPage }}" href="javascript:void(0);" title="Voir la page précédente ({{ previousPage }})" aria-label="Voir la page précédente">
          <svg><use href="/static/icons/endi.svg#chevron-left"></use></svg>
        </a>
      </li>
{{/if}}
{{#each pagerElements }}
  {{#if isButton }}
      <li><a class="btn" data-action="show_page" data-page="{{ page }}" href="javascript:void(0);" title="Voir la page {{ page }}" aria-label="Voir la page {{ page }}">{{ page }}</a></li>
  {{/if}}
  {{#if isCurrentPage }}
      <li><span class="current" title="Page en cours : page {{ page }}" aria-label="Page en cours : page {{ page }}">{{ page }}</span></li>
  {{/if}}
  {{#if isEllipsis }}
      <li><span class="spacer">…</span></li>
  {{/if}}
{{/each}}
{{#if nextPage }}
      <li>
        <a class="btn" data-action="show_page" data-page="{{ nextPage }}" href="javascript:void(0);" title="Voir la page suivante ({{ nextPage }})" aria-label="Voir la page suivante">
          <svg><use href="/static/icons/endi.svg#chevron-right"></use></svg>
        </a>
      </li>
{{/if}}
{{#if pagerElements }}
    </ul>
  </nav>
{{/if}}
</div>
<form>
  <div class="form-group">
    <label for="items_per_page{{ position }}" class="screen-reader-text">Éléments affichés</label>
    <select id="items_per_page{{ position }}">
      <optgroup label="Affichage">
{{# selectOptions }}
        <option value="{{ value }}"{{{ selected }}}>{{ label }}</option>
{{/ selectOptions }}
      </optgroup>
    </select>
    <a class="btn" data-action="change_items_per_page" data-selectid="items_per_page{{ position }}" href="javascript:void(0);" title="Valider l’affichage" aria-label="Valider l’affichage">Valider</a>
  </div>
</form>
</div>
