{{#if title}}
    {{#if required}}
        <label for='{{tagId}}' class="required" aria-label="Champ obligatoire" >
            {{title}}
            <span class="icon required">
                <svg><use href="/static/icons/endi.svg#required"></use></svg>
                <span> Obligatoire</span>
            </span>
        </label>
    {{else}}
        <label for='{{tagId}}' >
            {{title}}
        </label>
    {{/if}}
{{/if}}

<select aria-label="Choisir un client" class='form-control' id='expense_customer' name='customer_id'>
    <option value=''>- Choisir un client -</option>
{{#each options}}
    <option value='{{lookup this ../id_key }}' {{#if selected}}selected{{/if}}>{{this.label}}</option>
{{/each}}
</select>
<select class='form-control' aria-label="Choisir un dossier"  id='expense_project' name='project_id' style='display:none;'></select>
<select class='form-control' id='expense_business' aria-label="Choisir une affaire" name='business_id' style='display:none;'></select>

{{#if description}}
    <span class='help-block'>{{ description }}</span>
{{/if}}
