<form autocomplete="off">
    <h2>
        Ajouter un produit du catalogue
    </h2>
    <div class='form-actions'>
        <button class='btn btn-primary icon' type='button' value='insert' disabled='true' aria-disabled='true' title="Ajouter le produit sélectionné" aria-label="Ajouter le produit sélectionné">
        	<svg><use href="/static/icons/endi.svg#plus"></use></svg>Ajouter
        </button>
        <button class='btn icon negative' type='reset' value='cancel'>
        	<svg><use href="/static/icons/endi.svg#times"></use></svg>Annuler
        </button>
    </div>
    <div class='main'></div>
</form>