
:root {
// announce supported themes to the browser
	color-scheme: light dark;

// variables not affected by themes
	--theme-idependant-text-color: #{$black};


// variables for light theme
	--border-color: #{$lightGrey};
	--box-shadow-color: #{$midGrey};
	--func-caution-color: #{$funcCaution};
	--func-negative-color: #{$funcNegative};
	--func-neutral-color: #{$funcNeutral};
	--func-positive-color: #{$funcPositive};
	--icon-neutral-color: #{$midGrey};
	--link-color: #{$midBlue};
	--mask-layer-background-color: #{$transWhite};
	--screen-background-color: #{$white};
	--screen-shaded-background-color: #{$veryLightGrey};
	--screen-trans-background-color: #{$suggestTransWhite};
	--svg-fill-color: #{$black};
	--svg-invert-fill-color: #{$white};
	--text-color: #{$deepGrey};
	--text-greyed-color: #{$darkGrey};
	--theme-color: #{$black};
	--theme-text-color: #{$white};
	--title-background-color: #{$white};

// collapsible
	--collapsible-title-color: #{$black};

// form
	--form-button-background-color: #{$white};
	--form-button-icon-color: #{$black};
	--form-button-main-text-color: #{$black};
	--form-button-text-color: #{$black};
	--form-data-background-color: #{$white};
	--form-focus-line1-color: #{$midFadedGrey};
	--form-focus-line2-color: #{$fadedGrey};
	--form-focus-line3-color: #{$veryFadedGrey};
	--form-focus-outline-color: #{$midFadedGrey};
	--form-input-background-color: #{$white};
	--form-input-disabled-text-color: #{$midGrey};
	--form-input-line-color: #{$black};
	--form-required-background-color: #{$white};
	--form-select-arrow-hover: url("../icons/chevron-select-active.svg");
	--form-select-arrow: url("../icons/chevron-select.svg");
	--form-select2-selectedline-color: #{$fadedGrey};
	
// login
	--login-atwork-background-color: #{$transWhite};
	--login-atwork-hover-background-color: #{$white};
	--login-atwork-shadow-color: #{$midGrey};
	--login-text-shadow-color: #{$white};

// messages
	--message-danger-background-color: #{$veryFadedNegative};
	--message-default-background-color: #{$veryFadedGrey};
	--message-default-border-color: #{$lightGrey};
	--message-footer-color: #{$darkGrey};
	--message-info-background-color: #{$veryFadedBlue};
	--message-success-background-color: #{$veryFadedPositive};
	--message-warning-background-color: #{$veryFadedCaution};
	--tag-default-background-color: #{$fadedGrey};

// menu
	--menu-active-background-color: #{$lightGrey};
	--menu-background-color: #{$white};
	--menu-border-color: #{$white};
	--menu-text-color: #{$black};

// table
	--table-hover-line-color: #{$hoverGreen};
	--table-input-background: #{$midFadedWhite};
	--table-odd-line-color: #{$oddLineGrey};
	--table-order-button-color: #{$deepGrey};
	--table-row-recap-color: #{$veryFadedGrey};
	--table-row-recap-main-color: #{$fadedGrey};

// tinyMCE	
	--mce-bar-background: #{$veryLightGrey};

	body.endi.theme_manage_people {
		--theme-color: #{$darkBlue};
		--theme-text-color: #{$white};

// collapsible
		--collapsible-title-color: #{$darkBlue};

// menu
		--menu-active-background-color: #{$washedBlue};

// table
		--table-row-recap-color: #{$veryFadedBlue};
		--table-row-recap-main-color: #{$fadedBlue};
	}

	body.endi.theme_manage_entity {
		--theme-color: #{$veryLightBlue};
		--theme-text-color: #{$black};

// collapsible
		--collapsible-title-color: #{$black};

// menu
		--menu-active-background-color: #{$washedVeryLightBlue};

// table
		--table-row-recap-color: #{$veryFadedVeryLightBlue};
		--table-row-recap-main-color: #{$fadedVeryLightBlue};
	}

// variables for dark theme
	body.endi.theme_dark {
		--border-color: #{$midGrey};
		--box-shadow-color: #{$black};
		--func-caution-color: #{$darkModeFuncNegative};
		--func-negative-color: #{$funcCaution};
		--func-neutral-color: #{$darkModeLightBlue};
		--func-positive-color: #{$funcPositive};
		--icon-neutral-color: #{$darkGrey};
		--link-color: #{$lightGreen};
		--mask-layer-background-color: #{$transBlack};
		--screen-background-color: #{$darkModeGrey};
		--screen-shaded-background-color: #{$deepGrey};
		--screen-trans-background-color: #{$suggestDarkModeGrey};
		--svg-fill-color: #{$white};
		--svg-invert-fill-color: #{$black};
		--text-color: #{$white};
		--text-greyed-color: #{$midTransWhite};
		--title-background-color: #{$fadedBlack};

// collapsible
		--collapsible-title-color: #{$veryLightBlue};

// form
		--form-button-background-color: #{$black};
		--form-button-icon-color: #{$white};
		--form-button-main-text-color: #{$black};
		--form-button-text-color: #{$white};
		--form-data-background-color: #{$fadedBlack};
		--form-focus-line1-color: #{$transWhite};
		--form-focus-line2-color: #{$midFadedWhite};
		--form-focus-line3-color: #{$fadedWhite};
		--form-focus-outline-color: #{$midFadedWhite};
		--form-input-background-color: #{$black};
		--form-input-disabled-text-color: #{$midGrey};
		--form-input-line-color: #{$white};
		--form-required-background-color: #{$black};
		--form-select-arrow-hover: url("../icons/chevron-select-active.svg");
		--form-select-arrow: url("../icons/chevron-select-white.svg");
		--form-select2-selectedline-color: #{$midFadedGrey};
	
// login
		--login-atwork-background-color: #{$transBlack};
		--login-atwork-hover-background-color: #{$black};
		--login-atwork-shadow-color: #{$black};
		--login-text-shadow-color: #{$black};

// messages
		--message-danger-background-color: #{$fadedBlack};
		--message-default-background-color: #{$fadedBlack};
		--message-default-border-color: #{$lightGrey};
		--message-footer-color: #{$midTransWhite};
		--message-info-background-color: #{$fadedBlack};
		--message-success-background-color: #{$fadedBlack};
		--message-warning-background-color: #{$fadedBlack};

// menu
		--menu-active-background-color: #{$midGrey};
		--menu-background-color: #{$black};
		--menu-border-color: #{$black};
		--menu-text-color: #{$white};

// table
		--table-hover-line-color: #{$darkModeHoverGreen};
		--table-input-background: #{$midFadedBlack};
		--table-odd-line-color: #{$oddLineWhite};
		--table-order-button-color: #{$lightGrey};
		--table-row-recap-color: #{$fadedVeryLightBlue};
		--table-row-recap-main-color: #{$fadedGrey};

// tinyMCE	
		--mce-bar-background: #{$deepGrey};

		body.endi.theme_manage_people.theme_dark {

// collapsible
			--collapsible-title-color: #{$lightGreen};

// menu
			--menu-active-background-color: #{$midBlue};

// table
			--table-row-recap-color: #{$fadedVeryLightBlue};
			--table-row-recap-main-color: #{$midFadedVeryLightBlue};
		}

		body.endi.theme_manage_entity.theme_dark {

// collapsible
			--collapsible-title-color: #{$lightGreen};

// menu
			--menu-active-background-color: #{$darkModeLightBlue};
			
// table
			--table-row-recap-color: #{$veryFadedVeryLightBlue};
			--table-row-recap-main-color: #{$fadedVeryLightBlue};
		}
	}
}


// variables for automatic dark theme
@media ( prefers-color-scheme: dark ) {
	:root {
		--border-color: #{$midGrey};
		--box-shadow-color: #{$black};
		--func-caution-color: #{$darkModeFuncNegative};
		--func-negative-color: #{$funcCaution};
		--func-neutral-color: #{$darkModeLightBlue};
		--func-positive-color: #{$funcPositive};
		--icon-neutral-color: #{$darkGrey};
		--link-color: #{$lightGreen};
		--mask-layer-background-color: #{$transBlack};
		--screen-background-color: #{$darkModeGrey};
		--screen-shaded-background-color: #{$deepGrey};
		--screen-trans-background-color: #{$suggestDarkModeGrey};
		--svg-fill-color: #{$white};
		--svg-invert-fill-color: #{$black};
		--text-color: #{$white};
		--text-greyed-color: #{$midTransWhite};
		--title-background-color: #{$fadedBlack};

// collapsible
		--collapsible-title-color: #{$veryLightBlue};

// form
		--form-button-background-color: #{$black};
		--form-button-icon-color: #{$white};
		--form-button-main-text-color: #{$black};
		--form-button-text-color: #{$white};
		--form-data-background-color: #{$fadedBlack};
		--form-focus-line1-color: #{$transWhite};
		--form-focus-line2-color: #{$midFadedWhite};
		--form-focus-line3-color: #{$fadedWhite};
		--form-focus-outline-color: #{$midFadedWhite};
		--form-input-background-color: #{$black};
		--form-input-disabled-text-color: #{$midGrey};
		--form-input-line-color: #{$white};
		--form-required-background-color: #{$black};
		--form-select-arrow-hover: url("../icons/chevron-select-active.svg");
		--form-select-arrow: url("../icons/chevron-select-white.svg");
		--form-select2-selectedline-color: #{$midFadedGrey};
	
// login
		--login-atwork-background-color: #{$transBlack};
		--login-atwork-hover-background-color: #{$black};
		--login-atwork-shadow-color: #{$black};
		--login-text-shadow-color: #{$black};

// messages
		--message-danger-background-color: #{$fadedBlack};
		--message-default-background-color: #{$fadedBlack};
		--message-default-border-color: #{$lightGrey};
		--message-footer-color: #{$midTransWhite};
		--message-info-background-color: #{$fadedBlack};
		--message-success-background-color: #{$fadedBlack};
		--message-warning-background-color: #{$fadedBlack};

// menu
		--menu-active-background-color: #{$midGrey};
		--menu-background-color: #{$black};
		--menu-border-color: #{$black};
		--menu-text-color: #{$white};

// table
		--table-hover-line-color: #{$darkModeHoverGreen};
		--table-input-background: #{$midFadedBlack};
		--table-odd-line-color: #{$oddLineWhite};
		--table-order-button-color: #{$lightGrey};
		--table-row-recap-color: #{$fadedVeryLightBlue};
		--table-row-recap-main-color: #{$fadedGrey};

// tinyMCE	
		--mce-bar-background: #{$deepGrey};

		body.endi.theme_manage_people {

// collapsible
			--collapsible-title-color: #{$lightGreen};

// menu
			--menu-active-background-color: #{$midBlue};

// table
			--table-row-recap-color: #{$fadedVeryLightBlue};
			--table-row-recap-main-color: #{$midFadedVeryLightBlue};
		}

		body.endi.theme_manage_entity {

// collapsible
			--collapsible-title-color: #{$lightGreen};

// menu
			--menu-active-background-color: #{$darkModeLightBlue};
			
// table
			--table-row-recap-color: #{$veryFadedVeryLightBlue};
			--table-row-recap-main-color: #{$fadedVeryLightBlue};
		}
	}
}
