$transparentBg: rgba(0,0,0,0);

// white
$white: rgb(255,255,255);
$suggestTransWhite: rgba(255,255,255,.95);
$transWhite: rgba(255,255,255,.8);
$midTransWhite: rgba(255,255,255,.6);
$midFadedWhite: rgba(255,255,255,.5);
$fadedWhite: rgba(255,255,255,.2);
$oddLineWhite: rgba(255,255,255,.05);
$veryFadedWhite: rgba(255,255,255,.18);

// black
$black: rgb(0,0,0);
$suggestTransBlack: rgba(0,0,0,.95);
$transBlack: rgba(0,0,0,.8);
$midFadedBlack: rgba(0,0,0,.5);
$fadedBlack: rgba(0,0,0,.2);
$veryFadedBlack: rgba(0,0,0,.1);

// grey
$darkModeGrey: rgb(51,51,51);
$suggestDarkModeGrey: rgba(51,51,51,.95);
$deepGrey: rgb(68,68,68);
$darkGrey: rgb(117,117,117);
$midGrey: rgb(128,128,128); // ! on white
$lightGrey: rgb(176,176,176); // ✗ on white
$veryLightGrey: rgb(230,230,230); // not for text, equals fadedGrey without transparency
$transGrey: rgba(128,128,128,.8); // not for text
$midFadedGrey: rgba(128,128,128,.5); // not for text
$fadedGrey: rgba(128,128,128,.2); // not for text
$veryFadedGrey: rgba(128,128,128,.05); // not for text
$oddLineGrey: rgba(128,128,128,.1); // not for text
$focusGrey: rgba(128,128,128,.01); // not for text

// green
$darkGreen: rgb(6,98,67); // ✗ on black
$midGreen: rgb(16,160,102); // ! on white, funcPositive
$lightGreen: rgb(29,230,126); // ✗ on white
$transGreen: rgba(16,160,102,.8); // not for text
$midFadedGreen: rgba(16,160,102,.5); // not for text
$fadedGreen: rgba(16,160,102,.2); // not for text
$veryFadedGreen: rgba(16,160,102,.05); // not for text

$hoverGreen: rgba(29,230,126,.1); // not for text
$darkModeHoverGreen: rgba(29,230,126,.2); // not for text

// acid
$darkAcid: rgb(104,124,0);
$midAcid: rgb(158,186,10); // ✗ on white
$lightAcid: rgb(206,241,24); // ✗ on white
$transAcid: rgba(206,241,24,.8); // not for text
$midFadedAcid: rgba(206,241,24,.5); // not for text
$fadedAcid: rgba(206,241,24,.2); // not for text
$veryFadedAcid: rgba(206,241,24,.05); // not for text

// red
$darkRed: rgb(155,0,31); // ✗ on black, darkFuncNegative
$midRed: rgb(225,20,0); // ! on black, funcNegative
$lightRed: rgb(255,150,0); // ✗ on white, funcCaution

// blue
$darkBlue: rgb(0,92,152); // ✗ on black
$midBlue: rgb(0,122,177); // ! on black, funcNeutral
$lightBlue: rgb(0,163,203); // ✗ on white
$greyedBlue: rgb(103,119,126);
$washedBlue: rgb(204,229,240);
$transBlue: rgba(0,122,177,.8); // not for text
$midFadedBlue: rgba(0,122,177,.5); // not for text
$fadedBlue: rgba(0,122,177,.2); // not for text
$hoverBlue: rgba(0,122,177,.1); // not for text
$veryFadedBlue: rgba(0,122,177,.05); // not for text

// electric blue
$veryLightBlue: rgb(33,205,247); // ✗ on white
$washedVeryLightBlue: rgb(211,245,254); // ✗ on white
$darkModeLightBlue: rgb(25,154,186);
$midFadedVeryLightBlue: rgba(33,205,247,.55); // not for text
$fadedVeryLightBlue: rgba(33,205,247,.25); // not for text
$veryFadedVeryLightBlue: rgba(33,205,247,.1); // not for text


// functional
$funcPositive: rgb(16,160,102); // ! on white
$transPositive: rgba(16,160,102,.8);
$midFadedPositive: rgba(16,160,102,.5);
$fadedPositive: rgba(16,160,102,.2);
$veryFadedPositive: rgba(16,160,102,.05);

$funcNegative: rgb(225,20,0); // ! on black
$transNegative: rgba(225,20,0,.8);
$midFadedNegative: rgba(225,20,0,.5);
$fadedNegative: rgba(225,20,0,.2);
$veryFadedNegative: rgba(225,20,0,.05);

$strongFuncNegative: rgb(155,0,31); // ✗ on black, used when negative-positive differenciation must be stronger to allow for daltonism.

$darkModeFuncNegative: rgb(255,225,0);

$funcCaution: rgb(255,150,0); // ✗ on white
$transCaution: rgba(255,150,0,.8);
$midFadedCaution: rgba(255,150,0,.5);
$fadedCaution: rgba(255,150,0,.2);
$veryFadedCaution: rgba(255,150,0,.05);

$funcNeutral: rgb(0,122,177); // ! on black
$transNeutral: rgba(0,122,177,.8);
$midFadedNeutral: rgba(0,122,177,.5);
$fadedNeutral: rgba(0,122,177,.2);
$veryFadedNeutral: rgba(0,122,177,.05);

// instances
$instance1: rgb(206,241,24);
$instance2: rgb(181,109,255);
$instance3: rgb(29,234,206);
$instance4: rgb(255,192,60);
$instance5: rgb(248,159,255);

// sizes
$simpleLine: 1px;
$contentHorPadding: 1.875rem;
$contentVerPadding: .625rem;
$unitPadding: 5px;

$iconSize: 2rem;
$midIconSize: 1.5rem;
$smallIconSize: 1.125rem;

// debug
$check: rgba(255,0,0,.5);

// layers (z-index values)
$contentLayer: 5;
$stickyContentLayer: 8;
$actionLayer: 10;
$headerLayer: 12;
$floatingLayer: 20;
$floatingLayerContent: 21;
$floatingMenuLayer: 25;
$maskLayer: 30;
$aboveMaskLayer: 35;
$popinLayer: 40;
$abovePopinLayer: 45;
$spinner: 50;

// breakpoints
$mobileWidth: 31.25rem;
$tabletMinWidth: 31.3125rem;
$tabletWidth: 50rem;
$desktopMinWidth: 50.0625rem;
$desktopWidth: 62.5rem;
$wideWidth: 75rem;
$extrawideWidth: 87.5rem;

// pdf export
$print_fontsize: 9pt;
$print_table_fontsize: 8pt;
$small_print_fontsize: 7pt;
$big_print_fontsize: 11pt;
$print_unitPadding: 5pt;
$print_fadedGrey: #efefef;
$print_veryFadedGrey: #f9f9f9;
$print_veryFadedGreyTrans: rgba(249,249,249,.7);
$print_whiteTrans: rgba(255,255,255,.7);
$print_border: #808080;
$print_fadedBorder: #c4c4c4;