    <div role="dialog" id="expense-forms" aria-modal="true" aria-labelledby="expense-forms_title">
		<div class="modal_layout">
			<header>
				<button tabindex='-1' type="button" class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre">
					<svg><use href="/static/icons/endi.svg#times"></use></svg>
				</button>
				<h2 id="expense-forms_title">{{ title }}</h2>
			</header>
			{{#if add}}
			<nav>
				<ul class="nav nav-tabs modal-tabs" role="tablist">
					<li role="presentation" class="active main">
						<a href="#mainform-container"
							aria-controls="mainform-container"
							role="tab"
							data-toggle="tab"
							tabindex='-1'
							>
							<span class="icon"><svg><use href="/static/icons/endi.svg#shopping-cart"></use></svg></span>
							Dépense
						</a>
					</li>
                    {{#if allow_tel_tab }}
					<li role="presentation" class='tel'>
						<a href="#telform-container"
							aria-controls="telform-container"
							role="tab"
							data-toggle="tab"
							tabindex='-1'
							>
							<span class="icon"><svg><use href="/static/icons/endi.svg#phone"></use></svg></span>
							Frais télécom
						</a>
					</li>
                    {{/if}}
					{{#if show_bookmarks}}
						<li role="presentation">
							<a href="#bookmark-container"
								aria-controls="bookmark-container"
								role="tab"
								tabindex='-1'
								data-toggle="tab">
								<span class="icon"><svg><use href="/static/icons/endi.svg#star-empty"></use></svg></span>
								Favoris
							</a>
						</li>
					{{/if}}
				</ul>
			</nav>
			{{/if}}
            <main>
				<div class='tab-content limited_width'>
					{{# if show_main }}
					<div
						role="tabpanel"
						class="tab-pane fade in active layout"
						id="mainform-container">
					</div>
					{{/if}}
					{{# if show_tel}}
					<div
						role="tabpanel"
						class="tab-pane fade in {{#if show_tel_tab}}active{{/if}} layout"
						id="telform-container">
					</div>
					{{/if}}
					{{#if show_bookmarks}}
						<div
							role="tabpanel"
							class="tab-pane fade in layout"
							id="bookmark-container">

						</div>
					{{/if}}
				</div>
				<div class="modal-footer">
				</div>
            </main>
		</div>
	</div><!-- /#expense-forms -->
