{{#edit}}
<div class="layout flex two_cols">
{{else}}
<div class="layout flex">
{{/edit}}
	<div class="vertical_align_center">
		<h2>
			<span class="icon status neutral"><svg><use href="/static/icons/endi.svg#shopping-cart"></use></svg></span>
			Dépenses
		</h2>
	</div>
    {{#edit}}
    <div class="align_right">
        <button class='btn btn-primary add' title='Ajouter une dépense dans les {{ category.label }}' aria-label='Ajouter une dépense dans les {{ category.label }}'>
            <svg><use href="/static/icons/endi.svg#plus"></use></svg>Ajouter une dépense
        </button>
    </div>
    {{/edit}}
</div>
<div class="table_container">
{{#edit}}
	<table class="opa hover_table top_align_table">
{{else}}
	<table class="opa top_align_table">
{{/edit}}
		<thead>
			<tr>
				<th scope="col" class="col_date">Date</th>
				<th scope="col" class="col_text" title="Type de dépense et description">Type<span class="screen-reader-text"> de dépense</span> et description</th>
				{{#if is_achat}}
					<th scope="col" class="col_text">Rattaché à…</th>
				{{/if}}
				<th scope="col" class="col_number">Montant HT</th>
				<th scope="col" class="col_number">Tva</th>
				<th scope="col" class="col_number">Total TTC</th>
				{{#edit}}
				<th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
				{{/edit}}
			</tr>
		</thead>
		<tbody class='lines'>
		</tbody>
		<tfoot>
			<tr class="row_recap">
				{{#if is_achat}}
					<th scope='row' colspan='3' class='col_text'>Total</th>
				{{else}}
					<th scope='row' colspan='2' class='col_text'>Total</th>
				{{/if}}
				<td class='total_ht col_number'>{{{ total_ht }}}</td>
				<td class='col_number'>
                    {{#if includes_tva_on_margin }}
                        <span class="icon small"
                              title="Inclut des dépenses en mode TVA sur marge : il s'agit d'une TVA estimée, le TTC fait foi."
                        >
                            <svg><use href="/static/icons/endi.svg#exclamation-circle"></use></svg>
                        </span>
                    {{/if}}
                    <span class="total_tva">{{{ total_tva }}}</span>
                </td>
				<td class='total_ttc col_number'>{{{ total_ttc }}}</td>
				{{#edit}}
				<td class='col_actions'></td>
				{{/edit}}
			</tr>
		</tfoot>
	</table>
</div>
