<div class="separate_top content_vertical_padding">
    <h3>Propriétés de la facture</h3>
    <form class="form">
        <div class="form-section">
            <div class="row form-row">
                <div class="col-md-2">
                    <div class='date'></div>
                </div>
                <div class="col-md-4">
                  <div class='supplier_id'></div>
                </div>
                <div class="col-md-6">
                    <div class='name'></div>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-md-2">
                    <div class="payer_id"></div>
                </div>
                <div class="col-md-4">
                    <div class='advance_percent'></div>
                </div>
                <div class="col-md-6">
                    <div class='supplier-orders'></div>
                </div>
            </div>
        </div>
    </form>
</div>
