body.endi {
	.mce-content-body {
		background: var(--screen-background-color);
		color: var(--text-color);
	}
	.mce-panel {
		background: var(--mce-bar-background);
		border: 0 none;
		width: 100%;
	}
	.mce-container, 
	.mce-container *, 
	.mce-widget, 
	.mce-widget *, 
	.mce-reset {
		font-family: 'OpenSans', sans-serif;
		font-size: .875rem;
	}
	.mce-container {
		border-bottom: 1px solid transparent;
	}
	.has-error > .mce-container {
		border-bottom: 1px solid var(--func-negative-color);
	}
	.mce-menubar {
		border-color: var(--screen-background-color);
		button {
			padding: $unitPadding*1.5 $unitPadding*2;
		}
		.mce-menubtn button span {
			color: var(--form-button-text-color);
		}
		.mce-caret,
		button:hover .mce-caret,
		button:focus .mce-caret {
			border-top-color: var(--form-button-text-color);
		}
	}
	.mce-menu {
		background: var(--screen-trans-background-color);
		border-radius: 0;
		max-width: 20em;
		.mce-menu-item .mce-ico,
		.mce-menu-item .mce-text {
			color: var(--form-button-text-color);
		}
		.mce-menu-item .mce-caret {
			border-left-color: var(--form-button-text-color);
			border-top-color: transparent;
		}
		.mce-menu-item:hover, 
		.mce-menu-item.mce-selected, 
		.mce-menu-item:focus {
			background: $lightGreen;
			* {
				color: $black;
			}
			.mce-caret {
				border-left-color: $black;
			}
		}
		.mce-menu-item-normal.mce-active {
			background: var(--table-hover-line-color);
		}
	}
	.mce-menubtn {
		span {
			color: var(--form-button-text-color);
		}
		button:hover span,
		button:focus span {
			color: $black;
		}
	}
	.mce-caret {
		border-top-color: var(--form-button-text-color);
	}
	button:hover .mce-caret,
	button:focus .mce-caret {
		border-top-color: $black;
	}
	.mce-toolbar-grp,
	.mce-statusbar,
	.mce-menubar {
		background: var(--mce-bar-background);
	}
	.mce-container button i,
	.mce-resizehandle i,
	.mce-ico {
		font-family: "tinymce",Arial;
		font-size: 1rem;
	}
	.mce-btn {
		.mce-ico {
			color: var(--form-button-text-color);
			height: 1rem;
			width: 1rem;
		}
		&:not(.mce-disabled) button:hover .mce-ico,
		&:not(.mce-disabled) button:focus .mce-ico,
		&:not(.mce-disabled) button:active .mce-ico {
			color: var(--form-button-main-text-color);
		}
		&.mce-disabled button:hover,
		&.mce-disabled button:focus,
		&.mce-disabled button:active {
			transform: none;
		}
	}
// 	.mce-btn-group {
// 		border-right: 1px solid $fadedGrey;
// 	}
	.mce-toolbar-grp {
		button {
			background: none;
			border: 0 none;
			padding: $unitPadding $unitPadding*1.5;
		}
		.mce-btn:not(.mce-disabled) button:hover,
		.mce-btn:not(.mce-disabled) button:focus,
		.mce-btn:not(.mce-disabled) button:active {
			background: $lightGreen;
		}
		.mce-btn.mce-disabled button {
			box-shadow: none;
		}
	}
	.mce-btn {
		background: none;
		border: 0 none;
		border-radius: 0;
		box-shadow: none;
		i {
			text-shadow: none;
		}
	}
	.mce-edit-area {
		background: var(--form-input-background-color);
		padding: 1px;
		width: calc( 100% - 2px );
	}
	.mce-container .mce-tooltip {
		color: $white;
	}
	.mce-content-body {
		color: var(--text-color);
	}
}
