<form name="current">

    <div class='main_toolbar'>
        <h3>{{title}}</h3>
        <div class="layout flex main_actions">
            <div role='group'>
                <button class='btn btn-primary icon' type='submit' value='submit'>
                    <svg><use href="/static/icons/endi.svg#save"></use></svg>Enregistrer
                </button>
				<button class='icon' type='reset' value='submit' title="Annuler et revenir en arrière" aria-label="Annuler et revenir en arrière">
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>Annuler
                </button>
            </div>
            <div class='resume' role='group'></div>

            <div role='group' class='other_buttons'>
            </div>
        </div>
        <div class='message-container'></div>
        <div class='errors'></div>
    </div>

    <fieldset class='separate_block border_left_block'>
        <h2 class='title'>Informations</h2>
        <div class='layout flex'>
            <div class='field-title col-md-6'></div>
            <div class='field-description col-md-6'></div>
        </div>
        <div class='layout flex'>
            <div class='field-quantity col-md-6'></div>
            <div class='field-display_details col-md-6'></div>
        </div>
    </fieldset>
    <fieldset class='separate_block border_left_block'>
        <h2 class='title'>Détails</h2>
        <div class='layout flex'>
            <div class='field-general_overhead col-md-4'></div>
            <div class='field-margin_rate col-md-4'></div>
            <div class='field-unity col-md-4'></div>
        </div>
        <div class='layout flex'>
            <div class='field-tva_id col-md-4'></div>
            <div class='field-product_id col-md-4'></div>
        </div>
    </fieldset>
    <span class='items-container'></span>
</form>