    <div class='errors'></div>

    <div class='layout flex quotation_item_title '>
        <div>
            <h3>
				{{#if title }}
					{{title}}
				{{else}}
					<small><em>Aucun titre n’a été saisi pour ce produit composé</em></small>
				{{/if}}
            </h3>
            <p>
				{{#if description}}
					{{{description}}}
				{{else}}
					<small><em>Aucun détail n’a été saisi pour ce produit composé</em></small>
				{{/if}}
            </p>
        </div>
        {{#if edit}}
        <div>
            <button type='button' class='btn icon only edit' aria-label="Modifier ce produit composé" title="Modifier ce produit composé" tabindex='-1'>
                <svg><use href="/static/icons/endi.svg#pen"></use></svg>
            </button>
			{{#if can_delete}}
			<button type='button' class='btn icon only negative delete' aria-label='Supprimer ce produit composé' title='Supprimer ce produit composé' tabindex='-1'>
                <svg><use href="/static/icons/endi.svg#trash-alt"></use></svg>
			</button>
			{{/if}}
			{{#if is_not_first }}
				<button type='button' class='btn icon only up' title='Déplacer ce produit composé vers le haut' aria-label='Déplacer ce produit composé vers le haut' tabindex='-1'>
					<svg><use href="/static/icons/endi.svg#arrow-up"></use></svg>
				</button>
			{{/if}}
			{{#if is_not_last }}
				<button type='button' class='btn icon only down' title='Déplacer ce produit composé vers le bas' aria-label='Déplacer ce produit composé vers le bas' tabindex='-1'>
					<svg><use href="/static/icons/endi.svg#arrow-down"></use></svg>
				</button>
			{{/if}}
        </div>
        {{/if}}
    </div>

    <div class="table_container">
		<table class='hover_table top_align_table'>
    		{{# if not_is_empty}}
				<thead>
					<tr>
						<th scope="col" class="col_text">Description</th>
                        {{# if hasDate }}
						    <th scope="col" class="col_date date" title="Date d'exécution">Date<span class="screen-reader-text"> d'exécution</span></th>
                        {{/if}}
                        {{# if is_ttc_mode }}
						    <th scope="col" class="col_number unity" title="Prix Unitaire Toutes Taxes Comprises">P<span class="screen-reader-text">rix </span>U<span class="screen-reader-text">nitaire</span> T<span class="screen-reader-text">outes </span>T<span class="screen-reader-text">axes </span>C<span class="screen-reader-text">omprises</span></th>
                        {{else}}
						    <th scope="col" class="col_number unity" title="Prix Unitaire Hors Taxes">P<span class="screen-reader-text">rix </span>U<span class="screen-reader-text">nitaire</span> H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span></th>
                        {{/if}}
						<th scope="col" class="col_number quantity" title="Quantité">Q<span class="screen-reader-text">uanti</span>té</th>
						<th scope="col" class="col_text unity">Unité</th>
						<th scope="col" class='col_number tva' title="Taux de TVA"><span class="screen-reader-text">Taux de </span>Tva</th>
                        {{# if is_ttc_mode }}
     		                <th scope="col" class="col_number" title="Prix Toutes Taxes Comprises">T<span class="screen-reader-text">outes </span>T<span class="screen-reader-text">axes </span>C<span class="screen-reader-text">omprises</span></th>
                        {{else}}
     		                <th scope="col" class="col_number" title="Prix Hors Taxes">H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span></th>
                        {{/if}}
						<th scope="col" class="col_text">Compte produit</th>
						<th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
						<th scope="col" class="col_actions row_ordering" title="Actions (classement)"><span class="screen-reader-text">Actions (classement)</span></th>
					</tr>
				</thead>
    		{{/if}}
			<tbody class='lines'></tbody>
			<tbody class='subtotal'></tbody>
 		</table>
    </div>
    {{# if can_add}}
	<div class='actions align_right'>
		<button type='button' class='btn btn-info btn-add'>
			<svg><use href="/static/icons/endi.svg#plus"></use></svg>
			Ajouter un produit
		</button>
    </div>
    {{/if}}

    <div class='modalregion'></div>
