body.endi.endi_popup {
	.main_area {
		height: 100vh;
		padding: 0;
		width: 100vw;
	}
	.main_content {
		padding: 0;
		.limited_width {
			max-width: 100%;
			width: 100%;
		}
	}
	h1 {
		background: var(--theme-color);
		color: var(--theme-text-color);
		padding: $unitPadding*2 $unitPadding*4;
		position: relative;
		button {
			position: absolute;
			right: 0;
			top: 0;
			svg {
				fill: $white;
			}
		}
	}
	.main_actions,
	.popup_content {
		padding: $unitPadding*2 $unitPadding*4;
	}
	.main_content > .limited_width {
		> h2 {
			background: var(--theme-color);
			color: var(--theme-text-color);
			padding: $unitPadding*2 $unitPadding*4;
			position: relative;
		}
		> div {
			padding: $unitPadding*2 $unitPadding*4;
		}
	}
}